body{
    background-color: #F2FBFF;
}
.trelo__container{    
    width: 90%;
    margin: 10px;
    border-radius: 10px;
    height: auto;
    background-color: white;
    border: 3px solid #8EE0FF80;
}
.icon__ad{
    height: 20px;
}
.trelo__container-header{
    color: #B784D8;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.trelo__container-cards{
    width: 90%;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
    height: 40px;
    margin: 20px 0px;
}
.progress{
    height: .5rem;
}