.footer {
  background-color: #00022e;
  color: #ffffff;
}

.social-media-container {
  padding-top: 15px;
  width: 12%;
  margin: 0 auto;
}

.social-icon {
  width: 2.5em;
  margin: 0 5px;
}

.contact-information {
  padding: 15px 0;
  text-align: center;
}