:root {
  --border-color: #19BE46;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

/* Header (start) */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  width: 100%;
  height: 80px;
}

.header__logo {
  cursor: pointer;
}

.header__menu {
  cursor: pointer;
}

.header__nav {
  display: none;
}

/* Header (end) */

/* Hero (start) */
.hero {
  display: flex;
  flex-direction: column;
  padding: 0 25px;
  margin-top: 20px;
  width: 100%;
  height: auto;
}

.hero h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 20px;
}

.hero__input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.hero__input h2 {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.hero__input input {
  width: 60%;
  max-width: 400px;
  height: 45px;
  border: 1px solid black;
  border-radius: 10px;
}

.hero__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.hero__btn button {
  width: 40%;
  height: 40px;
  max-width: 300px;
  margin-bottom: 15px;
  cursor: pointer;
}

.hero__btn--get {
  background: white;
  border: 3px solid var(--border-color);
  border-radius: 10px;
}

.hero__btn--fail {
  background: white;
  border: none;
  font-weight: 700;
}
/* Hero (end) */

/* Container (start) */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 0 20px;
}

.container__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  max-width: 300px;
  height: auto;
  margin-bottom: 40px;
}

.container__item h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.container__item p {
  font-size: 1.6rem;
  text-align: center;
}
/* Container (end) */

/* menu hamburguer (start) */
.menu-exit {
  display: none;
  position: absolute;
  z-index: 4;
  width: 100%;
  height: auto;
  padding: 0 25px;
  background: white;
}

.menu-exit__nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.menu-exit__info ul {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
}

.menu-exit__info li {
  font-size: 2.5rem;
  font-weight: 700;
  cursor: pointer;
  list-style: none;
}


/* menu hamburguer (end) */

