:root {
  --color_green_platzi: #99c84a;
  --color_green: #b6ca67;
  --color_black: #2c2f33;
  --color_white: white;
  --font: "Roboto", sans-serif;
}

body {
  background: #f1f5c5;
  font-family: var(--font);
  margin: 0;
}

/*Header*/

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background: var(--color_black);
  padding: 4vh 0vh;
}
.header__img {
  width: 40px;
}
.header__title {
  color: var(--color_white);
  padding-top: 7px;
  font-size: 18px;
}

/* cards */

.card {
  box-shadow: -5px 5px 2px var(--color_green);
  max-width: 300px;
  margin-bottom: 20px;
}

.card:hover {
  cursor: pointer;
}
.card-header {
  color: var(--color_white);
  font-weight: bold;
  background-color: var(--color_black);
}

.card-header {
  font-size: 1.5em;
}

.btnPlatzi {
  max-width: 200px;
  background: var(--color_green_platzi) !important;
  box-shadow: -3px 3px 2px var(--color_green);
}

.btnPlatzi:hover {
  transform: scale(1.03);
}

/*modal*/
.modal-header {
  color: var(--color_white);
  background-color: var(--color_black);
}

#chart_wrap {
  position: relative;
  padding-bottom: 660%;
  height: 0;
  overflow: hidden;
}

#piechart_3d {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;justify-content: center;
  display: flex;
}

footer {
  width: 100%;
  height: 80px;
  background: var(--color_black);
  text-align: center;
  padding: 23px;
}
.footer a {
  color: var(--color_white);
}

@media screen and (min-width: 500px) {
  /*Header*/
  .header {
    padding: 3vh 0vh;
  }
  .header__img {
    width: 60px;
  }
  .header__title {
    font-size: 25px;
  }
}
