*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    background: white;
    color: black;
    height: 100px;
    justify-content: space-between;
    top: 0px;
    width: 100%;
}

.header__img {
    margin-right: 30px;
    width: 140px;
}

.Dashboard{
    width: 50rem;
    margin: auto;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 150px 150px 1fr 100px;
    grid-template-columns: repeat(2,1fr);
}

.Dashboard__header{
    grid-column: 1/3;
    grid-row: 1/2;
}

.Dashboard__CardList{
    grid-column: 1/2;
    grid-row: 2/3;
}

.Dashboard__CardPercentage{
    grid-column: 2/3;
    grid-row: 2/4;
    justify-self: center;
}

.Dashboard__PieChart{
    grid-column: 1/2;
    grid-row: 3/4;
}

@media only screen and (max-width: 600px) {
    .Dashboard{
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        width: 100vw;
    }
    .Dashboard__header, .Dashboard__CardList
    ,.Dashboard__CardPercentage, .Dashboard__PieChart{
        width: 100%;
        margin: 1rem;
    }
  }

