.container {
  display: grid;
  grid-template-columns: 25% 75%;
}

.aside__progressBar {
  margin-top: 5rem;
}

.aside__progressBar--figureRed {
  margin: auto;
  background-color: red;
  height: 1rem;
  width: 15rem;
}

/* .aside__progressBar--figureYellow {
    background-color: yellow;
    position: relative;
    z-index: 2;
    top: -1rem;
    left: 9rem;
    height: 1rem;
    width: 10rem;
  } */

.aside__buttons--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}


.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ececec;
  width: 30rem;
  height: 23rem;
  border-radius: 3rem;
  margin: 4rem;
}

.card__tasks {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 18rem;
}


/*Media Query for 320px*/
@media (min-width: 320px) {

  #maintitle {
    padding-top: 150px;
    line-height: 60px;
    font-family: "Poppins";
  }

  #maintitle h1 {
    font-size: 48px;
  }

  #maintitle p {
    font-size: 28px;
  }

  #idtablero form {
    display: block;
    text-align: center;
    justify-content: center;
    align-self: center;
    margin: auto;
    width: 300px;
  }

  #idtablero input[type="text"] {
    text-align: center;
    color: #747474;
    width: 240px;
    height: 54px;
    border-radius: 10px;
    font-family: "Roboto";
    font-size: 18px;
  }

  #idtablero input[type="button"] {
    color: white;
    text-align: center;
    background-color: #898989;
    font-family: "Poppins";
    font-size: 24px;
    width: 193px;
    height: 56px;
    border-radius: 10px;
    margin-top: 10px;
  }

}
