html {
    box-sizing: border-box;
}
*, *:after, *:before {
    box-sizing: inherit;
}
.header{
    background-color: blue;
}
.contenedor{
    max-width: 1200px;
    margin:0 auto;
}

.logo{
    display: flex;
    justify-content: center;
}

.svg{
    width: 12rem;
}
.container{
    display: flex;
    background-color: darkblue;
}
.aside{
    flex-direction: column;
    background-color: red;
    padding: 5rem;
    height: 91.3vh;
}

ul{
    list-style: none;
}
.main{
    display: flex;
}

.listas{
    width: 80%;
}